body{
  height: 100vh;
}

#wrapper {
  height: 100%;
}

#game-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  align-self: center;
}

#2dGame {
  image-rendering: pixelated;
  z-index: 0;
}

#3dGame {
  z-index: 1;
}
